
.main-content {
    margin: 5rem auto;
}

.createEvent {
    text-align: center;
    border: 1px solid rgb(185, 57, 6);
    margin-top: 5rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 25rem;
    max-width: 80%;
    padding: 0;
}

.eventsHeader {
    height: 1rem;
    font-size: 1.1rem;
    margin: 0;
    padding: 0.5rem;
}