
.user-form {
    width: 20rem;
    max-width: 80%;
    margin: 5rem auto;
}

.form-control label,
.form-control input {
    width: 100%;
    display: block;
}

.form-control label {
    margin-bottom: 0.5rem;
}

.form-actions {
    margin-bottom: 1rem;
}

.form-actions button {
    background: hsl(194, 100%, 50%);
    font: inherit;
    border: 1px solid hsl(194, 100%, 50%);
    border-radius: 3px;
    padding: 0.25rem 1rem;
    margin: 1rem 0.5rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0, 26);
}

.form-actions button:hover,
.form-actions button:active {
    background: hsla(194, 100%, 50%, 0.589);
    border-color:  hsla(194, 100%, 50%, 0.589);
}

